@import "tailwindcss";

@theme {
  --color-accent: oklch(0.2 0.05 280);
  --color-accent-foreground: oklch(0.98 0.02 280);
  --color-primary: oklch(0.627 0.265 303.9);
  --color-muted-foreground: oklch(0.55 0.046 257.417);
}

* {
  box-sizing: border-box;
}

body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
